*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, footer{
    padding: 20px;
    text-align: center;
    font-family: 'Ysabeau Infant', sans-serif;
}
header{
    background-image: radial-gradient(circle at 50% -20.71%, #ffff99 0, #ffff7d 16.67%, #ffff5f 33.33%, #f2f23c 50%, #cfe503 66.67%, #abd800 83.33%, #85cd00 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    width: 150px;
}
header .logo {
    width: 350px;
}
header ul {
    list-style: none;
    display: flex;
    gap: 10px;
}
header ul button {
    background-color: aqua;
    padding: 5px 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
header a {
    text-decoration: none; 
}
header button:hover {
    background-color: white;
  }
main .home{
    width: 100%;
    background-image: linear-gradient(180deg, #ffff56 0, #ffff59 7.14%, #fcff60 14.29%, #dfff68 21.43%, #c0ff71 28.57%, #9fff7a 35.71%, #7cff82 42.86%, #53f289 50%, #0ee48f 57.14%, #00d795 64.29%, #00cd9b 71.43%, #00c4a2 78.57%, #00bdaa 85.71%, #00b7b2 92.86%, #00b3bc 100%);
    padding: 10px;
    display: flex;  
    justify-content: space-between;
    align-items: center; 
    flex-direction: column;
    border-radius: 8px;
}
main .img-home{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}
 main .img-home img{
    display: inline-block;
    width: 100px;
} 
main .intro{
    padding: 15px;
    margin:12px;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight:bold;
    color: #042877;
    font-family: 'Ysabeau Infant', sans-serif;
}
 main .c{
    color: rgb(24, 9, 233);
    width: 100%;
    padding: 20px;
    text-align: center;
    justify-self: center;
    background-image: radial-gradient(circle at 50% 120.71%, #ffd8d3 0, #ffd2d2 6.25%, #feccd0 12.5%, #fbc5ce 18.75%, #f7bccd 25%, #f1b4cb 31.25%, #e9aacb 37.5%, #dfa0ca 43.75%, #d396ca 50%, #c48dcb 56.25%, #b486cc 62.5%, #a180cf 68.75%, #8c7dd1 75%, #747bd3 81.25%, #557ad4 87.5%, #2779d5 93.75%, #007ad4 100%);
    font-size: 50px;
    margin-top: 10px;
    border-radius: 8px;
}
main{
   background-image: url("https://i.pinimg.com/564x/ee/9d/ee/ee9deeaa225442fe8f410beb7216da95.jpg");
   padding: 20px;
}
main .contenedor{ 
    color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 30px;
}
main .cont-charact{
    background-color: rgb(118, 238, 198);  
    width: 230px;
    justify-content: center;
    align-items: center;
    justify-self: center;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 1px 18px 6px rgba(0,0,0,0.71);  
}
.cont-charact:hover{
    transform: scale(1.4);
    transition: transform 0.3s ease;
    cursor: pointer;
}
.charact{
    width: 100%;
    border-radius: 50%;
}
main .watch {
    padding: 50px;
    background-image: radial-gradient(circle at 50% 120.71%, #ffd8d3 0, #ffd2d2 6.25%, #feccd0 12.5%, #fbc5ce 18.75%, #f7bccd 25%, #f1b4cb 31.25%, #e9aacb 37.5%, #dfa0ca 43.75%, #d396ca 50%, #c48dcb 56.25%, #b486cc 62.5%, #a180cf 68.75%, #8c7dd1 75%, #747bd3 81.25%, #557ad4 87.5%, #2779d5 93.75%, #007ad4 100%);
    display: flex;
    justify-content:center;
    align-items: center;
    cursor: pointer; 
    gap: 20px;
    border-radius: 8px;
}
.watch img {
    width: 150px;
    border-radius: 20px;
}
.watch-button{
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    border: solid, 1px;
    border-color: #9b5dce;
    background-color: #9b5dce;
} 
.watch-button:hover {
    background-color: transparent;
    color: rgb(95, 6, 168);
    border-radius: #9030e0;
}
footer{
    background-color: rgb(194, 237, 245);
}
footer div{
    display: flex;
    justify-content: space-between;
}
footer ul{
    list-style: none;
    text-align: left;
} 
@media (max-width:1200px){
    main .contenedor {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 20px;
    }
    header {
        flex-direction: column;
    }
 }
 @media (max-width:1100px){
    main .contenedor {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 20px;
    }
    header {
        flex-direction: column;
    }
 }
 @media (max-width:1024px){
    main .contenedor {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 20px;
    }
 }
 @media (max-width:880px){
    main .contenedor {
        grid-template-columns: 1fr 1fr;
        padding: 20px;
    }
    header div{
        flex-direction: column;
    }
    footer {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:760px){
    main .contenedor {
        grid-template-columns: 1fr;
        padding: 20px;
    }
    main .watch-button{
        text-align: center;
    }
    header {
        flex-direction: column;
    }
 }
 @media (max-width:440px){
    main .contenedor {
        grid-template-columns: 1fr;
        padding: 20px;
    }
    main .watch-button{
        padding: 5px;
        text-align: center;
    }
    header div{
        flex-direction: column;
    }
    footer {
        flex-direction: column;
        align-items: center;
    }
}


